<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.tdengine.WeatherMapper">

    <resultMap id="BaseResultMap" type="com.entity.Weather">
        <id column="ts" jdbcType="TIMESTAMP" property="ts" />
        <result column="temperature" jdbcType="INTEGER" property="temperature" />
        <result column="humidity" jdbcType="DOUBLE" property="humidity" />
    </resultMap>

    <sql id="Base_Column_List">
        ts, temperature, humidity
    </sql>

    <update id="createDB" >
        create database if not exists test;
    </update>

    <update id="createTable" >
        create table if not exists weather(ts timestamp, temperature int, humidity float);
    </update>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from testSupp
        order by ts desc
        <if test="limit != null">
            limit #{limit,jdbcType=BIGINT}
        </if>
        <if test="offset != null">
            offset #{offset,jdbcType=BIGINT}
        </if>
    </select>

    <insert id="insert" parameterType="com.entity.Weather" >
        insert into weather (ts, temperature, humidity) values (now, #{temperature,jdbcType=INTEGER}, #{humidity,jdbcType=FLOAT})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" >
        insert into weather (ts, temperature, humidity) values
        <foreach separator=" " collection="list" item="weather" index="index" >
            (now + #{index}a, #{weather.temperature}, #{weather.humidity})
        </foreach>
    </insert>


</mapper>
